@font-face {
  font-family: "Neutra Text";
  src: url(/static/utils/fonts/NeutraText-Book.otf);
}

body {
  font-family: "Neutra Text";
}

.header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.choose {
  text-align: center;
  font-size: 20px;
}

.choice {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.choice button {
  margin: 20px;
  height: 50px;
  border: 1px solid black;
  font-weight: bold;
}

.choice button:hover {
  cursor: pointer;
}

.boardContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-status {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
}

main {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.player {
  margin: 1em 0 5px 0;
  display: flex;
  flex-direction: column;
}

.player__tile {
  width: 100%;
  height: 100px;
  display: flex;
  margin: 0 auto;
  color: #000000;
  max-width: 100px;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: inset 3px 3px 0 #000, inset -3px 3px 0 black,
    inset -3px -3px 0 black, inset 3px -3px 0 black;
}

.player-2 {
  color: #ffffff;
  margin-top: 5px;
  background-color: #2d2c2c;
}

.player__digits {
  font-size: 1rem;
  font-weight: bold;
}

@media only screen and (min-width: 850px) {
  .player {
      margin: 1em auto 10px auto;
      max-width: 200px;
      flex-direction: row;
  }
  .player__tile {
      height: 100px;
  }
  .player-2 {
      margin-top: 0;
  }
  .player__digits {
      font-size: 1rem;
  }
}

.layer {
  position: absolute !important;
  justify-content: center !important;
  align-items: center !important;
  width: 400px !important;
  height: 400px !important;
}


